button {
  display: inline;
  background-color: #428bca;
  color: #f9f9f9;
  width: 82px;
  padding: 16px 0;
  border-radius: 10%;
  margin: 4px 24px;
}

button:hover {
  background-color: #5bc0de;
  cursor: pointer;
}

#cat-info {
  border-bottom: 2px solid #5bc0de;
  padding-bottom: 10px;
}

#title {
  display: inline;
  margin-right: 16px;
}

#cat-name, #click-counter {
  display: inline;
  font-size: 2em;
  font-family: Impact, "Arial Black", sans-serif;
}

#cat-level {
  display: inline;
  font-size: 1.5em;
  color: #428bca;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  margin-right: 18px;
}

#click-counter {
  margin-left: 16px;
  border: 2px solid #5bc0de;
  border-radius: 10%;
  padding: 0 20px;
}

#cat-img {
  max-width: 600px;
  margin: 12px 0 0 24px;
  box-shadow: 5px 5px 3px 3px #D7D9E0;
  width: 80vw;
}

#cat-img:hover {
  cursor: pointer;
}
